rules_version = '2';
service cloud.firestore {
match /databases/{database}/documents {
    match /userData/{document} {
      allow read: if
      		request.auth != null &&
          document.matches(request.auth.uid);
    }
    match /timetables/{document} {
      allow read: if
      		request.auth != null &&
          document.matches(request.auth.uid);
    }
    match /tictactoe/{document} {
    	allow read: if
      		request.auth != null &&
          request.auth.uid in resource.data.users;
      allow update: if
      		request.auth != null &&
          resource.data.turn == request.auth.uid;
    }
  }
}