rules_version = '2';
service cloud.firestore {
match /databases/{database}/documents {
    match /userData/{document} {
      allow read: if
          document.matches(request.auth.uid);
    }
    match /timetables/{document} {
      allow read: if
          document.matches(request.auth.uid);
    }
  }
}